  
<div class = "card">
        <h5 class = "card-title" style = "margin-top: 5%">
            <img src = "{joker}}">
            {{lista_joker[1]}}
            
        </h5>
        <div class = "card-body">
            <p class = "card-text" style = "color:gray">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam.
            </p>
            <!--- Set Green and gray btns or not -->
            {% if i % 1 == 0 %}
            <a class = "btn btn-success" style = "color:white"> Install </a>
            {% endif %}
           
    
        </div>
    </div>