  
<div class = "card" style=" margin-top: -5%" >
        <h5 class = "card-title" style = "margin-top: 5%">
               
            {{lista_peliculas[i][0]}}        
            
        </h5>
        <div class = "card-body">
                <img src="http://image.tmdb.org/t/p/w185/{{lista_peliculas[i][3]}}" class="card-img-top" >
            <p class = "card-text" style = "color:gray">
                Fecha de estreno:
                {{lista_peliculas[i][1]}}
            </p>
           
            {% if i % 1 == 0 %}
            <center>
                <h4>
                    Punteo: {{lista_peliculas[i][2]}}
                </h4>
            </center>
            <a class = "btn btn-success" style = "color:white"> Vote up! </a>
            {% endif %}
           
    
        </div>
    </div>