<div class = "card">
    <h5 class = "card-title" style = "margin-top: 5%">
        <img src = "{{icon}}">
        Lorem ipsum dolor
        
    </h5>
    <div class = "card-body">
        <p class = "card-text" style = "color:gray">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam.
        </p>
        <!--- Set Green and gray btns or not -->
        {% if i % 3 == 0 %}
        <a class = "btn btn-success" style = "color:white"> Install </a>
        {% endif %}
        <a class = "btn btn-light"> Request info </a>
    </div>
</div>